.cart {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--background);

  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'American Typewriter', serif;

  h1 {
    font-size: xx-large;
  }

  span {
    font-size: 16rem;
  }

  .checkoutButton {
    cursor: pointer;
    border: 2px solid var(--foreground);
    background-color: var(--foreground);
    color: var(--background);
    border-radius: 1000px;
    padding: 0.5rem 1rem;
    font-family: Arial, Helvetica, sans-serif;

    &:hover {
      background-color: var(--dark-highlight);
    }
  }

  .closeButton {
    position: absolute;
    bottom: calc(2rem + 2px);
    right: calc(2rem + 2px);

    height: 3rem;
    width: 3rem;
    border-radius: 1000px;

    &:hover {
      background-color: var(--light-highlight);
    }

    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      height: 1.5rem;
    }
  }

  @media only screen and (max-width: 800px) {
    border-radius: 24px 24px 0 0;

    h1 {
      font-size: x-large;
    }

    span {
      font-size: 12rem;
    }

    .closeButton {
      right: unset;
      bottom: calc(6.5rem + 2px);
    }
  }
}