.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  background-image: radial-gradient(circle, var(--dark-grey) 1px, transparent 1px);
  background-size: 32px 32px; /* Size of the grid */
  display: flex;
  
  .flag {
    width: 510px;
    margin: auto;
  }
}

