.dock {
  position: fixed;
  z-index: 1;
  background: var(--background);
  border: 2px solid var(--foreground);
  border-radius: 1000px;
  padding: 0.5rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  min-width: 4rem;
  min-height: 4rem;
  bottom: 1.5rem;

  &__center {
    max-width: 30rem;
    overflow-x: scroll;

    left: 50%;
    transform: translateX(-50%);

    .icon {
      height: 1.5rem;
      width: auto;
      flex-shrink: 0;
    }

    button,
    select {
      height: 3rem;
      width: 3rem;
      border: 2px solid var(--foreground);
      border-radius: 1000px;
      overflow: hidden;
    }

    select {
      cursor: pointer;
      color: transparent;
      background-color: var(--foreground);
      background-size: cover;
      background-repeat: no-repeat;
      flex-shrink: 0;
      -webkit-appearance: none;
    }

    button {
      padding: 2px;
      flex-shrink: 0;

      .flagcolor {
        height: 100%;
        width: 100%;
        border-radius: 1000px;
      }
    }

    .selectedButton {
      border: 2px solid var(--selection) !important;
    }
  }

  &__right {
    right: 1.5rem;


    button {
      height: 3rem;
      width: 3rem;
      border-radius: 1000px;

      &:hover {
        background-color: var(--light-grey);
      }
    }

    .icon {
      height: 1.5rem;
      width: auto;
      margin: auto;
    }
  }

  @media only screen and (max-width: 425px) {
    bottom: 0;

    &__center {
      padding: 1rem;
      max-width: 100%;
      border-radius: 24px 24px 0 0;
    }

    &__right {
      left: 50%;
      right: unset;
      transform: translateX(-50%);

      bottom: 6rem;
    }
  }
}